# installing required libraries in my_envtransformerstorchgradiolangchainibm_watson_machine_learninghuggingface-hubffmpegibm-watsonx-ailangchainlangchain-ibmlangchain_communitytorchvision torchaudiomsalplaywrightpython-dotenvsoundfilelibrosapyyamlrichipywidgetsfaster_whisper# brew install ffmpeg -mac or sudo apt install ffmpeg -y on linux, windows need to check later# playwright install chromium